body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#mood {
  margin: auto;
}

button {
  width: 30%;
  margin: 5px auto;
}
